<article class="post">
  <header>
    <div class="title">
      <h2>
        <a href="single.html">
          {{title}}
        </a>
      </h2>
      <p>
        {{subTitle}}
      </p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">
        {{date}}
      </time>
      <a href="#" class="author">
        <span class="name">
          {{author}}
        </span>
        <img src={{authorImageUrl}} alt="" />
      </a>
    </div>
  </header>
  <a href="single.html" class="image featured">
    <img src={{imageUrl}} alt="" />
  </a>
  <p>
    {{content}}
  </p>
  <footer>
    <ul class="actions">
      <li>
        <a href="single.html" class="button large">
          Continue Reading
        </a>
      </li>
    </ul>
    <ul class="stats">
      <li>
        <a href="#">
          {{category}}
        </a>
      </li>
      <li>
        <a href="#" class="icon fa-heart">
          {{numLikes}}
        </a>
      </li>
      <li>
        <a href="#" class="icon fa-comment">
          {{numComments}}
        </a>
      </li>
    </ul>
  </footer>
</article>
