<div id="main">
	<article class="post">
		<header>
			<div class="title">
				<h2>
					{{ title }}
				</h2>
				<p>{{>tags tags}}</p>
			</div>
			<div class="meta">
				<time class="published" datetime={{date}}>
					{{dateFormatter date}}
				</time>
				<a
					href={{userProfileUrl}}
					class="author"
					target="_blank"
				>
					<span class="name">
						{{ name }}
					</span>
					<img src="{{ authorImageUrl }}" alt="" />
				</a>
			</div>
		</header>
		<div class="single-post-content">{{{content}}}</div>
		<footer>
			<ul class="stats">
				<li>Reads: {{ views }}</li>
				<li>
					<a href="#" class="icon fa-heart">
						{{ numLikes }}
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-comment">
						{{ numComments }}
					</a>
				</li>
			</ul>
		</footer>
	</article>

	{{#if comments.length}}
		{{#if isPosterSiteOwner}}
			<h3>{{t "i18n-single-post-comment-title"}}</h3>
		{{else}}
			<h3>{{t "i18n-single-post-comment-title-v2"}}</h3>
		{{/if}}
	{{/if}}

	{{#each comments}}
		{{>comment}}
	{{/each}}
</div>

{{> footer socialMedias}}
