<div id="main">
	<article class="post">
		<header>
			<div class="title">
				<h2>
					<a href="#">
						{{ title }}
					</a>
				</h2>
			</div>
			<div class="meta">
				<time class="published" datetime="2015-11-01">
					{{dateFormatter post.date}}
				</time>
				<a
					href="https://renzhen1024.com/u/mountainsun1988/summary"
					class="author"
					target="_blank"
				>
					<span class="name">
						{{ post.name }}
					</span>
					<img src="{{ post.authorImageUrl }}" alt="" />
				</a>
			</div>
		</header>
		<div class="single-post-content">{{{post.content}}}</div>
		<footer>
			<ul class="stats">
				<li>Reads: {{ post.reads }}</li>
				<li>
					<a href="#" class="icon fa-heart">
						28
					</a>
				</li>
				<li>
					<a href="#" class="icon fa-comment">
						128
					</a>
				</li>
			</ul>
		</footer>
	</article>
</div>

{{> footer socialMedias}}
