<article class="mini-post">
	<header>
		<h3>
			<a href={{originPost}}>{{title}}</a>
		</h3>
		<time class="published" datetime={{date}}>
			{{dateFormatter date}}
		</time>
		<a href="#" class="author">
			<img src={{authorImageUrl}} alt="" />
		</a>
	</header>
	<a href={{originPost}} class="image">
		<img src={{imageUrl}} alt="" />
	</a>
</article>
