<li>
	<article>
		<header>
			<h3>
				<a href="{{userProfileUrl}}">
					{{username}}
				</a>
			</h3>
			<p>{{name}}</p>
		</header>
		<a href="{{userProfileUrl}}" class="image" target="_blank">
			<img src="{{userImageUrl}}" alt="" />
		</a>
	</article>
</li>
