{{#each this}}
	{{#if link}}
		<a href={{link}}>
			<span class="tag" style="background-color:{{color}}">{{name}}</span>
		</a>
	{{else}}
		<span class="tag" style="background-color:{{color}}">{{name}}</span>
	{{/if}}
{{/each}}
