<article class="post comment">
  <header class="comment-header">
    <div class="comment-meta">
      <time class="published" datetime={{date}}>
        {{dateFormatter date}}
      </time>
      <a href={{userProfileUrl}} class="author comment-author" target="_blank">
        <span class="name">
          {{name}}
        </span>
        <img src="{{authorImageUrl}}" alt="" />
      </a>
    </div>
    <div class="title comment-content">
      {{{content}}}
    </div>
  </header>
</article>
