<div id="main">
	{{#each posts}} {{> post}} {{/each}}

	<!-- Pagination -->
	<ul class="actions pagination">
		<li>
			<a
				href="/?currentPage={{previouPage}}"
				class="{{#if (eq previouPage 0)}}disabled{{/if}} button large previous"
			>
				{{t "i18n-pagination-previous-page"}}
			</a>
		</li>
		<li>
			<a
				href="/?currentPage={{nextPage}}"
				class="{{#if (eq nextPage 0)}}disabled{{/if}} button large next"
			>
				{{t "i18n-pagination-next-page"}}
			</a>
		</li>
	</ul>
</div>

<section id="sidebar">
	{{> intro creator}}
	<section>
		<h3 class="mini-posts-header">
			{{t "i18n-sidebar-latest-comments"}}
		</h3>
		<div class="mini-posts">
			{{#each miniPosts}} {{> miniPost}} {{/each}}
		</div>
	</section>
	<section>
		<h3>{{t "i18n-sidebar-recommend-users"}}</h3>
		<ul class="posts">
			{{#each activeUsersList}} {{> activeUsersList}} {{/each}}
		</ul>
	</section>
	{{> about about}}
	{{> footer socialMedias}}
</section>

